.reviewContentBox {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--color-gray-light);
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--color-gray-light-2);
}
