/* 로그인 폼 전체 */
.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* 로그인 버튼 */
.loginFormSubmitButton {
  width: 100%;
  padding: 12px;
  margin-top: 56px;
  border: none;
  border-radius: 6px;

  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  background-color: var(--color-green);
  color: white;

  transition: background-color 0.15s ease-in-out;
}

.loginFormSubmitButton:hover,
.loginFormSubmitButton:focus {
  background-color: #18c02f;
}

.loginFormBottomLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-block: 12px 26px;

  font-size: 0.9rem;
  color: var(--color-gray);
}

.loginFormLink {
  color: var(--color-gray);
  text-decoration: none;
  transition: color 0.15s ease;
}

.loginFormLink:hover {
  color: var(--color-black);
}

.loginFormSeparator {
  padding-inline: 6px;
  opacity: 0.5;
}
