.container {
  width: 100%;
  min-width: 393px;
  max-width: 768px;

  margin: 0 auto;
  padding: 20px 30px;

  display: flex;
  padding-inline: 30px;
  flex-direction: column;
  align-items: center;
}

.logoArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 80px;
  height: auto;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-black);
  margin-top: 10px;
}

.loginTitle {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-black);
}

.dividerWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.dividerLine {
  width: 100%;
  max-width: 420px;
  height: 1px;
  background-color: var(--color-gray);
}

.dividerText {
  margin: 0 10px;
  font-size: 1rem;
  color: var(--color-gray);
}
