.homePageBox {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  background: var(--color-bg-light);
  gap: 20px;

  .header {
    position: sticky;
    top: 0;
    transition: transform 0.05s ease;
  }
}

.mainContents {
  padding-inline: 15px;
}
