:root {
  /* Colors */
  --color-green: #1ed534; /* 기본 초록 */
  --color-black: #1a1a1a; /* 기본 검정 */
  --color-gray-light: #fdfdfd; /* 기본 하양 */
  --color-gray-light-2: #e4e4e4;
  --color-label: #535353; /* 라벨 제목 */
  --color-placeholder: #bdbdbd; /* 인풋 placeholder */
  --color-gray: #8c8c8c;
  --color-bg-light: #f8f9fa; /* 배경 하양 */
  --color-bg-dark: #f2f2f2;
  --color-text-gray: #667085;
  --color-text-gray-2: #9ca3af;
  --color-text-purple: #6941c6;
  --color-border-4: #ebebeb;
  --color-border-d0: #D0D0D0; /* 인풋 보더 바텀(기본) */
  --color-border-85: #858585; /* 인풋 보더 바텀(입력) */
  --color-border-red: #F53232 /* 인풋 보더 바텀(에러) */
  --color-red: #ff5b5b;
  --color-yellow: #ffdc2e;

  --color-btn-gray: #eeeeee; /* 버튼 회색 */
  /* Spacing */
  --inline-spacing: 15px;
  --element-gap: 10px;
  --component-gap: 20px;
}

/* Utilities */
.inline-space {
  margin-inline: var(--inline-spacing);
}

.gap-element > * + * {
  margin-top: var(--element-gap);
}

.gap-component > * + * {
  margin-top: var(--component-gap);
}

/* Basic text colors */
.text-green {
  color: var(--color-green);
}

.text-black {
  color: var(--color-black);
}

.text-label {
  color: var(--color-label);
}

.text-placeholder {
  color: var(--color-placeholder);
}

.text-gray {
  color: var(--color-gray);
}

/* Background utilities */
.bg-light {
  background-color: var(--color-bg-light);
}

.bg-dark {
  background-color: var(--color-bg-dark);
}
