.profileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 45px;
  gap: var(--element-gap);
}

.profileImageBox {
  position: relative;
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.2s ease;

  &:hover {
    background: var(--color-bg-dark);
  }
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.hiddenInput {
  /* display: none; */
  background: pink;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.profileUploadButton {
  position: absolute;
  right: 0px;
  bottom: 0px;

  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  background: var(--color-green);
  border-radius: 50%;
  border: 3px solid #ffffff;

  cursor: pointer;
  color: #ffffff;

  z-index: 20;
}

.profileUploadButton svg {
  width: 30px;
  height: 30px;
}

.profileHelpText {
  margin-top: var(--element-gap);
  font-size: 0.75rem;
  color: var(--color-red);
  line-height: 1.4;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 768px) {
  .profileImageBox {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .profileImageBox {
    width: 125px;
    height: 125px;
  }
}

@media (min-width: 1279px) {
  .profileImageBox {
    width: 150px;
    height: 150px;
  }
}
