body {
  overflow-y: scroll;
  min-block-size: 100dvh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

abbr[title] {
  cursor: help;
  text-decoration: none;
}

*:focus-visible {
  outline: solid 1.5px var(--color-green);
  outline-offset: 0px;
}
