.forgotForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.header {
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--base-black-900);
}

.description {
  font-size: 1rem;
  color: var(--color-gray);
  line-height: 1.6;
  word-break: keep-all;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
}

.errorMessage {
  margin-block: 0;
  margin-top: 10px;
  font-size: 0.85rem;
  color: var(--color-red);
}
