.header {
  display: flex;
  align-items: center;
  gap: 13px;
}

.backButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.headerTitle {
  font-size: 1.4rem;
  color: var(--color-black);
}
