/* label 전체 컨테이너 */
.inputLabelWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--element-gap);
  width: 100%;
  margin-top: var(--component-gap);
}

/* Label */
.inputLabel {
  font-size: 1rem;
  color: var(--color-label);
  font-weight: 500;
}

/* Input을 감싸는 박스 */
.inputBox {
  position: relative;
  display: inline-flex;
  width: 100%;
  align-items: center;
}

/* Input */
.inputField {
  width: 100%;
  padding: 10px 36px 10px 0;
  border: none;
  border-bottom: 1px solid var(--color-border-d0);
  background: transparent;
  font-size: 1rem;
  box-shadow: none;
  color: var(--color-black);
  transition: border-color 0.2s ease;
}

.inputField::placeholder {
  color: var(--color-placeholder);
}

.inputField:focus {
  outline: none;
  border-bottom-color: var(--color-border-85);
}

/* 상태 */
.inputError {
  border-bottom-color: var(--color-border-red);
}

.inputSuccess {
  border-bottom-color: var(--color-green);
}

.inputDisabled {
  cursor: not-allowed;
}

.inputField:disabled {
  color: var(--color-placeholder);
  -webkit-text-fill-color: var(--color-placeholder);
}

/* 아이콘 버튼 */
.iconButton {
  position: absolute;
  right: 6px;
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  color: var(--color-gray);
}
