.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  position: relative;
}

.inputLabel {
  font-size: 1rem;
  color: var(--color-black);
  font-weight: 500;
  margin-top: 20px;
}

.inputField {
  width: 100%;
  padding: 10px 40px 10px 0;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  background: transparent;
  box-shadow: none;
  font-size: 1rem;
  color: var(--color-black);

  transition: border-color 0.2s ease;
}

.inputField:focus {
  outline: none;
  border-bottom-color: var(--color-green);
}

/* 상태 - 에러 또는 비활성화 */
.inputError {
  border-bottom-color: #ff4d4f !important;
}

.inputDisabled {
  border-bottom-color: #cfcfcf !important;
  background-color: #f5f5f5;
  color: #aaaaaa;
  cursor: not-allowed;
}

/* 인풋 아이콘 버튼 */
.iconButton {
  position: absolute;
  right: 6px;
  bottom: 10px;
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  color: var(--color-gray);

  display: flex;
  align-items: center;
  justify-content: center;
}

.iconButton:hover {
  color: var(--color-black);
}