.mainBodyBox {
  max-width: 100%;
  position: relative;
}

/* 네비 링크 박스 */
.navLinkBox {
  height: 40px;

  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
  position: relative;
  margin: 20px;

  a {
    color: var(--color-text-gray-2);
    text-decoration: none;
    appearance: none;
  }

  .isActive {
    color: var(--color-black);
  }

  .activeLine {
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid var(--color-green);
    transition: all 0.3s ease;

    &.activeHome {
      width: 23px;
    }

    &.activeMovie {
      width: 50px;
      transform: translateX(37px);
    }

    &.activeBook {
      width: 50px;
      transform: translateX(98px);
    }
  }
}

.pageUpButton {
  position: fixed;
  bottom: 6%;
  right: 11%;
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #1ed53381;
  transition:
    background 0.15s ease-in,
    box-shadow 0.15s ease-in,
    transform 0.1s ease-in;

  svg {
    color: white;
  }

  &:hover {
    background: var(--color-green);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &:active {
    transform: scale(0.95);
  }
}

/* 768px 이하 = 모바일 */
@media (max-width: 768px) {
  .contentBox {
    max-width: 100%;
    display: flex;
    flex-flow: nowrap column;
    gap: 20px;
    margin-inline: 10px;
  }
}

/* 1023px 이하 = 태블릿 이하 */
@media (min-width: 768px) and (max-width: 1279px) {
  .mainBodyBox {
    max-width: 768px; /* px 추가 */
  }

  .contentBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* 1024px 이상 = 데스크탑 */
@media (min-width: 1279px) {
  .mainBodyBox {
    max-width: 1279px;
    margin: 0 auto;
  }

  .contentBox {
    max-width: (100%-15px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }
}
